
<!-- Schema.org structured data -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Service",
  "serviceType": "Suporte de TI",
  "provider": {
    "@type": "LocalBusiness",
    "@id": "https://tivdc.com.br",
    "name": "TIVDC - Soluções em Suporte de TI",
    "image": "https://tivdc.com.br/logo.png",
    "telephone": "+5577999708403",
    "email": "suporte.tivdc@gmail.com",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Vitória da Conquista",
      "addressRegion": "BA",
      "addressCountry": "BR"
    },
    "sameAs": [
      "https://instagram.com/ti.vdc/",
      "https://g.co/kgs/pMhYvUs"
    ]
  },
  "offers": {
    "@type": "Offer",
    "description": "Consultoria gratuita em suporte de TI",
    "price": "0",
    "priceCurrency": "BRL"
  }
}
</script>
